@import 'vendor/normalize.css';
@import 'vendor/fonts/inter/inter.css';
@import 'blocks/page/page.css';
@import 'blocks/header/header.css';
@import 'blocks/header/__logo/header__logo.css';
@import 'blocks/content/content.css';
@import 'blocks/profile/profile.css';
@import 'blocks/profile/__avatar/profile__avatar.css';
@import 'blocks/profile/__avatar-edit/profile__avatar-edit.css';
@import 'blocks/profile/__info/profile__info.css';
@import 'blocks/profile/__info-container/profile__info-container.css';
@import 'blocks/profile/__name/profile__name.css';
@import 'blocks/profile/__job/profile__job.css';
@import 'blocks/profile/__edit/profile__edit.css';
@import 'blocks/profile/__card-add/profile__card-add.css';
@import 'blocks/cards/cards.css';
@import 'blocks/card/card.css';
@import 'blocks/card/__image/card__image.css';
@import 'blocks/card/__caption/card__caption.css';
@import 'blocks/card/__title/card__title.css';
@import 'blocks/card/__like-button/card__like-button.css';
@import 'blocks/card/__like-count/card__like-count.css';
@import 'blocks/card/__like-container/card__like-container.css';
@import 'blocks/card/__like-button/_active/card__like-button_active.css';
@import 'blocks/card/__remove-button/card__remove-button.css';
@import 'blocks/card/__remove-button/_visible/card__remove-button_visible.css';
@import 'blocks/card/__remove-button/_hidden/card__remove-button_hidden.css';
@import 'blocks/footer/footer.css';
@import 'blocks/footer/__copyright/footer__copyright.css';
@import 'blocks/popup/popup.css';
@import 'blocks/popup/__container/popup__container.css';
@import 'blocks/popup/__close/popup__close.css';
@import 'blocks/popup/__heading/popup__heading.css';
@import 'blocks/popup/__item-container/popup__item-container.css';
@import 'blocks/popup/__item/popup__item.css';
@import 'blocks/popup/__button/popup__button.css';
@import 'blocks/popup/_opened/popup_opened.css';
@import 'blocks/popup/__caption/popup__caption.css';
@import 'blocks/popup/__image/popup__image.css';
@import 'blocks/popup/__image-container/popup__image-container.css';
@import 'blocks/popup/_type/popup_type_image-view.css';
@import 'blocks/popup/__item-error/popup__item-error.css';
@import 'blocks/popup/__item-error/_active/popup__item-error_active.css';
@import 'blocks/popup/__button/_inactive/popup__button_inactive.css';
@import 'blocks/popup/__item/_type/_error/popup__item_type_error.css';
@import 'blocks/form/form.css';
@import 'blocks/form/__container/form__container.css';
@import 'blocks/form/__heading/form__heading.css';
@import 'blocks/form/__item-container/form__item-container.css';
@import 'blocks/form/__item/form__item.css';
@import 'blocks/form/__submit-button/form__submit-button.css';
@import 'blocks/form/__link-caption/form__link-caption.css';
@import 'blocks/tooltip/__container/tooltip__container.css';
@import 'blocks/tooltip/__heading/tooltip__heading.css';
@import 'blocks/tooltip/__icon/tooltip__icon.css';
