.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 28px 0 31px 27px;
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  /* for Safari */
  -webkit-background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  background-clip: padding-box;
}

@media screen and (min-width: 918px) {
  .header {
    padding: 45px 0 40px;
  }
}
